@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --yellow: #ffdc27;
  --white: #d9d9d9;
}

.login-bg {
  background-image: url("../assets/images/login-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 656px;
}

.login-content h1 {
  font-size: 4rem;
  color: var(--yellow);
  -webkit-text-stroke: 8px black;
  paint-order: stroke fill;
}
.login-content h2 {
  font-size: 1.5rem;
  color: var(--white);
  -webkit-text-stroke: 8px black;
  paint-order: stroke fill;
}
